<!doctype html>
<html lang="en">
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>To-Do List</h1>
    <form method="POST" action="/add">
        <input type="text" name="task" placeholder="New Task" required>
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for task in tasks %}
        {{ task.id }}
        {{ task.task }}
            <li>{{  task.task }} <a href="/delete/{{ task.id }}">Delete</a></li>

        {% endfor %}
    </ul>
</body>
</html>
