{% load static %}

{% if user.is_authenticated %}
    <p>Bem-vindo, {{ user.username }}!</p>
    
    <!-- Logout Form (using POST request) -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Logindddddddd</a>
{% endif %}


{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Produtos</h1>

    <!-- Formulário de busca -->
    <form method="get" action="{% url 'produto_list' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Buscar produtos">
        <button type="submit">Buscar</button>
    </form>

    <!-- Botões de ordenação -->
    <div>
        <a href="?order=nome" class="btn">Ordenar por Nome</a>
        <a href="?order=preco" class="btn">Ordenar por Preço</a>
    </div>

    <!-- Link para adicionar produto -->
    <a href="{% url 'produto_create' %}" class="btn-adicionar">Adicionar Produto</a>

    <!-- Lista de produtos -->
    <ul>
        {% for item in produtos %}
            <li class="produto-container">
                <span class="produto-info">
                    {{ item.produto.nome }} - R$ {{ item.produto.preco }}<br>
                    Frete: R$ {{ item.frete }}<br>
                    Valor Total: R$ {{ item.valor_total }}
                </span>
                <div class="botao-container">
                    <a href="{% url 'produto_detail' item.produto.pk %}" class="btn-acao">Detalhes</a>
                    <a href="{% url 'produto_edit' item.produto.pk %}" class="btn-acao">Editar</a>
                    <a href="{% url 'produto_delete' item.produto.pk %}" class="btn-acao">Excluir</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
