{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{% static 'edit.css' %}">
</head>
<body>
    <h1>Editar Produto</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar Alterações</button>
    </form>
    <a href="{% url 'produto_list' %}">Voltar</a>
</body>
</html>
