<h1>Meu forms h1</h1>

<form action="/imc"  method="post">

    <label>Nome:</label>
    <input type="text" name="nome" id="">
    <br><br>
    <label>Idade:</label>
    <input type="number" name="idade" id="">
    <br><br>
    <label>Peso:</label>
    <input type="number" name="peso" id="">
    <br><br>
    <label>Altura:</label>
    <input type="number" name="altura" value="44" id="">
    <br><br>
    <label for="">Homem</label>
    <input type="radio" id="" name="sexo" value="homem"/>
    <br><br>
    <label for="">Mulher</label>
    <input type="radio" id="" name="sexo" value="mulher"/>
    <br><br>
    <button type="submit">Calculo IMC</button>
    <br>
    {{ imc }}

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScllAc89dwdlvAW1GYwdgIhbYsrn2umtu0Jm5e5E1Pp_2ohhQ/viewform?embedded=true" width="640" height="3563" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
</form>