<h1>Meu forms h1</h1>

<form action="/imc"  method="post">

    <label>Nome:</label>
    <input type="text" name="nome" id="">
    <br><br>
    <label>Idade:</label>
    <input type="number" name="idade" id="">
    <br><br>
    <label>Peso:</label>
    <input type="number" name="peso" step="0.01" id="">
    <br><br>
    <label>Altura:</label>
    <input type="number" name="altura" value="44" step="0.01" id="">
    <br><br>
    <label for="">Homem</label>
    <input type="radio" id="" name="sexo" value="homem"/>
    <br><br>
    <label for="">Mulher</label>
    <input type="radio" id="" name="sexo" value="mulher"/>
    <br><br>
    <button type="submit">Calculo IMC</button>
    <br>
    {{ imc }}
</form>